* {
    box-sizing: border-box;
    margin: 0;
}

h1,h2,h3{
    font-weight: bold;
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem
}

body {}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --color: rgb(255, 0, 0);
    --border: red 2px solid;
}

.nav {
    z-index: 2;
    width: 100vw;
    margin: 0;
    height: 5rem;
    background-color: darkslategrey;
    position: fixed;
    top: 0;
}

.caja {
    z-index: 999999;
    cursor: pointer;
    /* position: relative; */
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
    /* background-image: url('/loli.webp'); */
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 5px solid black; */
    /* padding-top: 30px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
    /* margin: 0 auto; */
    /* padding: 10px; */
    border-left: var(--border);
    border-bottom: gray 1px solid;
    /* border-radius: 50%; */
    /* border: 10px dashed black; */
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    /* margin: 250px 60px 150px 60px; */
}

.caja:hover {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0.5;
}

.rojo {
    background-color: red;
    width: 50%;
}

.amarilla {
    background-color: yellow;
    width: 50%;
}

.unidades {
    background-color: brown;
}

.px {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.perfect-blue {
    width: 100vw;
    height: 100vh;
    background-image: url('/perfect-blue.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* la wwea fome */
}

.vh-vw {
    width: 50vw;
    /* height: 100vh; */
    min-width: 20rem;
    max-width: 25rem;
}

.img-container {
    display: inline-block;
    width: 50vw;
    min-width: 320px;
}

.img-container img {
    width: 100%;
}

.em {
    font-size: 1rem;
}

.em2 {
    font-size: 2rem;
}

.em3 {
    font-size: 1rem;
}

.kidspolla {
    /* width: 23cm; */
    height: 1rem;
    display: flex;
    border-radius: 1rem;
}

.uncm {
    background-color: chocolate;
    width: 1cm;
    height: inherit;
    border-right: 0.1cm black solid;
    margin: 0;
}

.color {
    color: blue;
}

#colorid {
    color: lawngreen;
}

p {
    color: aquamarine;
}

.mecargotodo {
    color: deeppink !important;
}

h1 {
    color: blueviolet;
}

.combinador {
    text-align: center;
    /* color: tomato; */
}

.combinador h1,
.combinador p {
    color: tomato;
}

.combinador h2 {
    color: var(--color);
}

.combinador::after {
    content: 'hola estoy despues';
    color: yellowgreen;
}

.combinador::before {
    content: 'hola estoy antes';
    color: darkblue;
}


/* input {
    position: relative;
    width: 100%;
}

input.date::before {
    content: '';
    position: absolute;
    overflow: hidden;
    margin-bottom: 4px;
    right: 4%;
    width: 20px;
    height: 20px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
    pointer-events: none;
}
 */


/* [type="date"]::-webkit-inner-spin-button {
    display: none;
} */


/* 
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
} */


/* 
div .combinador{

}

. clases

# id00*/

.box {
    position: relative;
    width: 50vw;
    height: 50vh;
    background-color: red;
    border: 4px black solid;
    margin: 1rem auto;
}

.box-hija {
    position: absolute;
    /* left: -50px; */
    /* bottom: 0; */
    right: 0;
    top: 0;
}

.red {
    /* top, left, right, bottom: ; */
    /* position: absolute; */
    /* top: 50px; */
    /* left: 50%; */
    /* top: 50%; */
    /* bottom: 10%; */
    /* top: 100m; */
}

.blue {
    background-color: blue;
}

.green {
    background-color: chartreuse;
}

header {}

main {
    margin-top: 5rem;
    /* z-index: ; */
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    /* eje la POLLA DEL NI;O */
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* flex-direction: column-reverse; */
    background-color: fuchsia;
    border: 1px solid black;
}

.flex-item {
    margin: 1rem 2rem;
    font-size: 5rem;
    color: floralwhite;
}

.doce {
    /* order: -1; */
}

.catorce {
    /* order: -8; */
}

.grid-containerxd {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(12, 8.3%); */
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    /* fr */
    /* height: 100px; */
}

.grid-item {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    border: 5px black dashed;
}

.item-1 {
    grid-column: span 8;
    grid-row-start: 2;
}